/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #a10606;
}

header .logo {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
}

.product-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-item {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
}

.product-item img {
    width: 100%;
    height: auto;
}

.search {
    text-align: center;
    margin: 20px 0;
  }
  .search input {
    padding: 8px;
    width: 70%;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  .search button {
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  .search button:hover {
    background-color: #45a049;
  }

.contact-form {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input, 
.contact-form textarea, 
.contact-form button {
    padding: 10px;
    border: 1px solid #ddd;
}

footer {
    background-color: #a10606;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    header, footer {
        flex-direction: column;
        text-align: center;
    }

    .product-gallery {
        grid-template-columns: 1fr;
    }
}
/* Estilo para el encabezado */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a10606;
    padding: 20px;
    color: white;
}

header .logo {
    width: 300px; /* Ajusta el tamaño del logo si es necesario */
    margin-bottom: 30px; /* Espacio entre el logo y el menú */
}

/* Estilos para el menú de navegación */
header nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px; /* Espacio entre los enlaces */
    padding: 0;
    margin: 0;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}